<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
		<title>{{ .Title }} &middot; {{ .Site.Title }}</title>
		<link rel="canonical" href="{{ .Permalink }}">
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		{{ if .RSSLink }}
			<link href="{{ .RSSLink }}" rel="alternative" type="application/rss+xml" title="{{ .Title }}" />
		{{ end }}
		{{ partial "head.html" . }}
	</head>
	<body>
		<a id="title" href="/" title="{{ .Site.Title }}">
			{{ if .Site.Params.logo }}
				<img id="logo" alt="Logo" src="{{ .Site.Params.logo }}" />
			{{ end }}
			{{ if .Site.Title }}
				<h1>{{ .Site.Title }}</h1>
			{{ end }}
		</a>
		{{ if .Site.Params.description }}
			<h4>{{ .Site.Params.description }}</h4>
		{{ end }}
		<div id="social">
			{{ $icon_size := "64px" }}
			{{ if .Site.Params.email }}
			<a href="mailto:{{ .Site.Params.email }}" title="Email">
				<img alt="Email" height="{{ $icon_size }}" width="{{ $icon_size }}" src="/images/email.svg" />
			</a>
			{{ end }}
			{{ if .Site.Params.github }}
			<a href="https://github.com/{{ .Site.Params.github }}" title="Github">
				<img alt="GitHub" height="{{ $icon_size }}" width="{{ $icon_size }}" src="/images/github.svg" />
			</a>
			{{ end }}
			{{ if .Site.Params.facebook }}
			<a href="https://facebook.com/{{ .Site.Params.facebook }}" title="Facebook">
				<img alt="Facebook" height="{{ $icon_size }}" width="{{ $icon_size }}" src="/images/facebook.svg" />
			</a>
			{{ end }}
			{{ if .Site.Params.twitter }}
			<a href="https://twitter.com/{{ .Site.Params.twitter }}" title="Twitter">
				<img alt="Twitter" height="{{ $icon_size }}" width="{{ $icon_size }}" src="/images/twitter.svg" />
			</a>
			{{ end }}
			{{ if .Site.Params.linkedin }}
			<a href="https://linkedin.com/in/{{ .Site.Params.linkedin }}" title="LinkedIn">
				<img alt="LinkedIn" height="{{ $icon_size }}" width="{{ $icon_size }}" src="/images/linkedin.svg" />
			</a>
			{{ end }}
                        {{ if .Site.Params.youtube }}
                        <a href="https://youtube.com/user/{{ .Site.Params.youtube }}" title="Youtube">
                                <img alt="Youtube" height="{{ $icon_size }}" width="{{ $icon_size }}" src="/images/youtube.svg" />
                        </a>
                        {{ end }}
		</div>
		<div class="links">
			<a href="/">Home</a>
			{{ range first 1 (where .Site.Pages "Type" "post") }}
				<a href="/post/">Archive</a>
			{{ end }}
			{{ range (where .Site.Pages "Section" "pages") }}
				{{ if .IsPage }}
					<a href="{{ .RelPermalink }}">{{ .Title }}</a>
				{{ end }}
			{{ end }}
		</div>
